.App {
  display: grid;
  place-items: center;
  height: 240vh;
  background-color: #e5eee6;
  font-family: "Roboto", sans-serif;
}

.row {
  display: flex;

  justify-content: center;
  background-color: #054f7c;
  margin-top: -240px;
  width: 100%;
}
.row button {
  width: 200px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.page-header {
  background-color: #641339;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;

  text-align: center;
}
